#html5-watermark {
    display: none !important;
}

.card-body {
    color: black;
}
/* ==================
 *
 *  Global Class 
 *
 *===================*/

 button {
    margin-top: 5px;
    margin-bottom: 5px;
 }


 .btn {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 12px 25px;
    border-radius: 0;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    background: transparent;
  }
  .title {
    text-align: center;
    padding-bottom: 70px;
  }
  .title h2 {
    color: #333;
    font-size: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
  }
  
  .title h2:before {
      content: '';
      width: 40px;
      height: 2px;
      background: #80d6a3;
      position: absolute;
      top: 12px;
      left: -60px;
  }
  .title h2:after {
      content: '';
      width: 40px;
      height: 2px;
      background: #80d6a3;
      position: absolute;
      top: 12px;
      right: -60px;
  }
  .title p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #817C7C;
  }

/* =================
   Container
   ================= */

/*
.container{
    margin-top:100px;
}
*/

#counter-container {
    background: url(/img/counter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 100px 0;
}
/*
#counter-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}
*/
#counter-container:before {
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
}

#counter-container .title {
    position: relative;
}

#counter-container .title h2 ,#counter-container .title p {
    color: #fff;
}

#container {
/*
    background: url('/img/container.jpg');
    background-size: cover;
*/
    padding: 250px 0;
    position: relative;
  }

  .container .row {
    position: relative;
    z-index: 990;
    color: #fff;
  }

  .container .block {
    position: relative;
    z-index: 990;
    color: #fff;
  }

  .container .block h1 {
    padding-bottom: 25px;
    font-size: 55px;
    font-weight: 100;
    color: #80d6a3;
  }

  .container .block h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }

  .container .block .btn-learn {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px;
    margin: 0 7px;
    padding: 10px 22px;
    font-size: 14px;
    transition: 0.3s;
  }

  .container .block .btn-learn:hover {
    border-color: #80d6a3;
    color: #80d6a3;
  }

  .container .block .exbuttons {
    margin-bottom: 50px;
  }

  .container .block .exbuttons a:first-child {
    margin-left: 0;
  }

  #container .scrolldown {
    position: absolute;
    left: 50%;
    bottom: 18%;
  }

  #container .scrolldown .scroll {
    border-radius: 100px;
    width: 25px;
    height: 45px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -15px;
    display: inline-block;
    border: 1px solid #fff;
    z-index: 99;
  }

  #container .scrolldown .scroll:after {
    background: #fff;
    border-radius: 300px;
    width: 4px;
    height: 9px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin: 0 0 0 -2px;
    display: block;
    content: " ";
    -webkit-animation: wiggle 0.5s linear 0s infinite alternate;
    -moz-animation: wiggle 0.5s linear 0s infinite alternate;
    -o-animation: wiggle 0.5s linear 0s infinite alternate;
    animation: wiggle 0.5s linear 0s infinite alternate;
  }

/* =================
   col-md-12
   ================= */

  .col-md-12 .block {
    position: relative;
    z-index: 990;
    color: #fff;
  }

  .col-md-12 .block h1 {
    padding-bottom: 25px;
    font-size: 55px;
    font-weight: 100;
    color: #80d6a3;
  }

  .col-md-12 .block h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }

  .col-md-12 .block .btn-learn {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px;
    margin: 0 7px;
    padding: 10px 22px;
    font-size: 14px;
    transition: 0.3s;
  }

  .col-md-12 .block .btn-learn:hover {
    border-color: #80d6a3;
    color: #80d6a3;
  }

  .col-md-12 .block .exbuttons {
    margin-bottom: 50px;
  }

  .col-md-12 .block .exbuttons a:first-child {
    margin-left: 0;
  }
  



/*
  #counter .block {
    margin-bottom: 20px;
  }
  #counter .block i {
    display: block;
    font-size: 40px;
    line-height: 1;
    padding-bottom: 20px;
    color: #80d6a3;
  }
  #counter .block span {
    line-height: 1;
    display: inline-block;
    color: #fff;
  }
  #counter .block .count-text {
    font-size: 36px;
  }
  #counter .block p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding-top: 20px;
  }
*/


  /* New Counter Stuff */

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
    background: none;
}

.counter-box.colored i {
      color: #3acf87;
}

.counter-box.colored p,
.counter-box.colored .counter {
	color: #fff
}  

/* =================
   header style
   ================= */

header {
    padding: 20px 0;
    background: #fff;
  }

  header .navbar {
    height: auto;
    margin-bottom: 0;
  }

  .is-sticky #navigation {
    background: #fff;
    z-index: 1000;
    transition: 0.3s;
    width: 100%;
    padding: 0;
  }

/* =================
   NavBar
   ================= */

  .navbar-brand {
    padding: 0;
    height: auto;
  }

  .navbar-toggle {
    border-color: #333;
    transition: 0.3s;
  }

  .navbar-toggle .icon-bar {
    background: #333;
    transition: 0.3s;
  }

  .navbar-toggle:hover {
    border-color: #80d6a3;
  }

  .navbar-toggle:hover .icon-bar {
    background: #80d6a3;
  }

  .menu a {
    color: #333;
    transition: 0.3s;
    position: relative;
    font-size: 16px;
  }
  .menu a:before {
    content: "";
    position: absolute;
    left: 16px;
    bottom: 12px;
    width: 0;
    height: 1px;
    background: #80d6a3;
    transition: 0.3s;
  }
  .menu a:hover {
    background: transparent;
    color: #80d6a3;
  }
  
  .menu .active a {
    color: #80d6a3;
  }
  
  .menu .active a:before{
    width: 25px;
  }
  
  .menu a:hover:before {
    width: 25px;
  }

/* =================
   Portfolio
   ================= */

#portfolio .control {
    background: none;
    border: 0;
    font-size: 18px;
    color: white;
    margin: 0 10px;
    transition: 0.2s;
    text-transform: uppercase;
  }

#portfolio .mix div:hover .overlay {
    opacity: 1;
  }

  #portfolio .mix div:hover .overlay i {
    top: 40%;
    opacity: 1;
  }

  #portfolio .mix div:hover .overlay h3 {
    bottom: 50%;
    opacity: 1;
  }

  #portfolio .mix div .overlay {
    position: absolute;
    top: 23px;
    left: 23px;
    bottom: 23px;
    right: 23px;
    background: rgba(128, 214, 163, 0.85);
    transition: 0.3s;
    text-align: center;
    opacity: 0;
  }

  #portfolio .mix div .overlay h3,
  #portfolio .mix div .overlay i {
    color: #fff;
  }

  #portfolio .mix div .overlay h3 {
    bottom: 30%;
    left: 50%;
    opacity: 0;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    transition: 0.3s;
    position: absolute;
    transition-delay: 0.1s;
    transform: translateX(-50%);
  }

  #portfolio .mix div .overlay i {
    top: 30%;
    opacity: 0;
    left: 50%;
    font-size: 50px;
    transition: 0.3s;
    transition-delay: 0s;
    position: absolute;
    transform: translate(-50%, 50%);
  }

  #portfolio .mix div .overlay .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    text-align: center;
    padding-bottom: 70px;
  }

  .title h2 {
    color: #333;
    font-size: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
  }
  
  .title h2:before {
      content: '';
      width: 40px;
      height: 2px;
      background: #80d6a3;
      position: absolute;
      top: 12px;
      left: -60px;
  }

  .title h2:after {
      content: '';
      width: 40px;
      height: 2px;
      background: #80d6a3;
      position: absolute;
      top: 12px;
      right: -60px;
  }

  .title p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #817C7C;
  }  

  #gallery {
    margin-top: 0;
  }

  #galleryinner {
    margin-top: 0;
  }